_site/
.sass-cache/
.jekyll-metadata
.asset-cache/

#### joe made this: http://goel.io/joe

#####=== Vim ===#####
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


# Don't commit algolia api key
_algolia_api_key
