---
layout: page
title: About
permalink: /about/
---
<div class="row">
    <div class="col-md-6">
        {% image avatar.png %}
    </div>
    <div id="practicing" class="col-md-6">
        Currently I'm practicing:
        <ul>
            {%  for activity in site.practicing %}
            <li>{{ activity }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="row">

I am a recent UC Santa Cruz computer science graduate who is interested in studying
security, intrusion detection, machine learning, cryptography, high availability, and distributed systems.
I enjoy developing software and building websites with Ruby, PHP, C/C++, Python,
Javascript, and Go, while automating tasks with bash and Puppet and operating
Debian/Ubuntu/CentOS servers on Cisco and Linux networks.
I write my code in vim configured like
<a href="https://github.com/raymondcolebaugh/sysadmin-scripts/blob/master/vim2ide.sh">this</a>,
and prefer to stay on the command line.

<p>
 If you are contributing to an open source project, developing a personal project, or working on a problem you think I would find interesting, feel free to contact me with some information about the project.
</p>

<p>
You can <strong><a href="#" data-toggle="modal" data-target="#hireme-modal">hire me</a></strong> for contract work, or send me an email at <a href="#" class="email-link" data-email="cmF5bW9uZGNvbGViYXVnaEBnbWFpbC5jb20">[email hidden]</a> or give me a call via Google Voice at <a href="#" class="phone-link" data-phone="KDgzMSkgNTE1IDYwMzA=">[phone number hidden]</a> to discuss the project at hand, and I can begin to scope the project and provide an estimate.
          </li>
</p>

</div>


<div class="row">
<h2>Work Experience</h2>
{% for employer in site.data.employers %}
<h3 class="page-header">
    {{ employer.name }}
    <small>
        <div>{{ employer.title }}</div>
        <div>{{ employer.dates }}</div>
    </small>
</h3>

<p>{{ employer.desc }}</p>
{% endfor %}
</div>

{% include newsletter.html %}

<div class="modal fade" id="hireme-modal" tabindex="-1" role="dialog" aria-labelledby="hireme-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="hireme-modal-label">Hire Me</h4>
      </div><!-- .modal-header -->
      <div class="modal-body text-center">
        <iframe name="web-form-iframe" src="https://crm.colebaugh.com/index.php/services/services/webForm?iframeHeight=500&webFormId=7&css=" frameborder="0" allowtransparency="true" scrolling="0" width="300" height="500"></iframe>
      </div><!-- .modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div><!-- .modal-footer -->
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- #key-modal -->
