---
layout: page
title: About
permalink: /about/
---
<div class="row">
    <div class="col-md-6">
        {% image avatar.png %}
    </div>
    <div id="practicing" class="col-md-6">
        Currently I'm practicing:
        <ul>
            {%  for activity in site.practicing %}
            <li>{{ activity }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="row">
    <p>
    I am a UC Santa Cruz computer science graduate who is interested in security, privacy,
    intrusion detection, machine learning, cryptography, and distributed, scalable systems.
    I enjoy developing software and building websites with Ruby, PHP, C/C++, Python,
    Javascript, and Go, while automating tasks with bash and Puppet and operating
    Debian/Ubuntu/CentOS servers on Cisco and Linux networks. I write my code in vim configured like
    <a href="https://github.com/raymondcolebaugh/sysadmin-scripts/blob/master/vim2ide.sh">this</a>,
    and prefer to stay on the command line.
    </p>

    <p>
    I love free, libre, open source software! I'm especially interested in contributing to automation, security, and privacy software. If you are contributing to an open source project you believe I'd be able to assist, please feel free to contact me with more details.
    </p>
</div>

<div class="cta-buttons">
    <span class="btn btn-success"><a href="#" data-toggle="modal" data-target="#contact-modal">Contact</a></span>
</div>

<div class="row">
<h2>Work Experience</h2>

<blockquote>
Views and thoughts expressed on this site are not endorsed by and do not reflect the opinions of any of my past, present, or future employers.
</blockquote>

{% for employer in site.data.employers %}
<h3 class="page-header">
    {{ employer.name }}
    <small>
        <div>{{ employer.title }}</div>
        <div>{{ employer.dates }}</div>
    </small>
</h3>

<p>{{ employer.desc }}</p>
{% endfor %}
</div>

{% include newsletter.html %}

<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="contact-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="contact-modal-label">Contact</h4>
      </div><!-- .modal-header -->
      <div class="modal-body text-center">
          {% include contactform.html %}
      </div><!-- .modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div><!-- .modal-footer -->
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- #contact-modal -->
