---
layout: default
---

<div class="home">

  {% include sidebar.html %}

  <h1 class="page-heading">Posts</h1>

  {% if site.posts.size > 0 %}
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <p>{{ post.excerpt }}</p>
        <a href="{{ post.url | prepend: site.baseurl }}">Continue Reading</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No posts have been published yet. Check back soon!</p>
  {% endif %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

  {% include newsletter.html %}
</div>
