---
layout: page
title: Subscribe
permalink: /subscribe/
---

<div class="row">
    <div class="jumbotron text-center">
        <div class="col-md-8">
            <h3>What You Will Get</h3>
            <ul>
                <li>Bonus content to supplement your favorite articles</li>
                <li>Offers for additional tools and materials</li>
                <li>Notifications when the latest articles are released</li>
            </ul>
            <p>
                Don't worry, this is a low volume
                mailing list, so expect no more than two emails in a week when you're also
                enrolled in an email course. You'll be able to unsubscribe effortlessly at
                any time from any of the emails.
            </p>
        </div>
        <div class="avatar col-md-4">
            {% image colebaughdotcom_profile_circular.png %}
        </div>

        <div>
        </div>

        <iframe name="web-form-iframe" src="https://crm.colebaugh.com/index.php/contacts/contacts/weblead?iframeHeight=185&webFormId=18&css=input%23submit%20%7B%0A%20%20color%3A%20%23fff%3B%0A%20%20background-color%3A%20%23449d44%3B%0A%20%20border-color%3A%20%23398439%3B%0A%20%20white-space%3A%20nowrap%3B%0A%20%20padding%3A%206px%2012px%3B%0A%20%20font-size%3A%2014px%3B%0A%20%20line-height%3A%201.42857143%3B%0A%20%20border-radius%3A%204px%3B%20%20cursor%3A%20pointer%3B%0A%7DredirectUrl=" frameborder="0" allowtransparency="true" scrolling="0" width="320" height="185"></iframe>
        <ul class="large-social-media">
          <li>Connect with me on social media to keep in touch!</li>
          {% if site.linkedin_username %}
          <li>
            {% include icon-linkedin.html username=site.linkedin_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li>
            {% include icon-facebook.html username=site.facebook_username %}
          </li>
          {% endif %}
        </ul>
    </div>
</div>

