<footer class="page-footer">
<hr />

  <div class="wrapper panel transparent">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="col-md-4">
        <ul class="contact-list">
          <li>{{ site.subtitle }}</li>
          <li><a><i class="fa fa-envelope"></i></a><a class="email-link" data-email="cmF5bW9uZGNvbGViYXVnaEBnbWFpbC5jb20">[email hidden]</a></li>
          <li><a href="{% asset_path Raymond_Colebaugh-resume.pdf %}"><i class="fa fa-file-pdf-o"></i>Resum&eacute;</a></li>
          <li><a href="{% asset_path RaymondColebaugh.asc %}" data-toggle="modal" data-target="#key-modal" class="key-link"><i class="fa fa-key"></i>PGP Key</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.linkedin_username %}
          <li>
            {% include icon-linkedin.html username=site.linkedin_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.stackexchange_username %}
          <li>
            {% include icon-stackexchange.html username=site.stackexchange_username userid=site.stackexchange_id %}
          </li>
          {% endif %}

          {% if site.bitbucket_username %}
          <li>
            {% include icon-bitbucket.html username=site.bitbucket_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="col-md-4">
        <p>{{ site.description }}</p>

        <p>Like what I'm working on or learn something cool? Leave me a tip using bitcoin <a href="bitcoin:{{ site.bitcoin_address }}" data-toggle="modal" data-target="#btc-modal" >here</a>!
        </p>
      </div>
    </div>
  </div>

</footer>

<div class="modal fade" id="key-modal" tabindex="-1" role="dialog" aria-labelledby="key-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="key-modal-label">PGP Key</h4>
      </div><!-- .modal-header -->
      <div class="modal-body">
          Current PGP Key
<pre>{% asset RaymondColebaugh.asc %}</pre>
          <ul>
              <li><a href="{% asset_path raymond_colebaugh_oldkey.asc %}">Previous Key</a></li>
              <li><a href="{% post_url 2016-05-31-pgp-key-transitioning-statement %}">Key Transitioning Statement</a></li>
          </ul>
      </div><!-- .modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="{% asset_path RaymondColebaugh.asc %}"><button type="button" class="btn btn-primary">Download</button></a>
      </div><!-- .modal-footer -->
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- #key-modal -->

<div class="modal fade" id="btc-modal" tabindex="-1" role="dialog" aria-labelledby="btc-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="btc-modal-label">Leave a Tip with Bitcoin</h4>
      </div><!-- .modal-header -->
      <div class="modal-body text-center">
        <div style="font-size:16px;margin:0 auto;width:300px" class="blockchain-btn"
             data-address="{{ site.bitcoin_address }}" data-shared="false">
            <div class="blockchain stage-begin">
                <img src="https://blockchain.info/Resources/buttons/donate_64.png" alt="Donate"/>
                <p>
                If you like what I'm working on or learned something cool, you can buy me a coffee or a beer by sending tips to the bitcoin address: <b><a href="bitcoin:{{ site.bitcoin_address }}">{{ site.bitcoin_address }}</a></b>
                </p>
            </div>
            <div class="blockchain stage-loading" style="text-align:center">
                <img src="https://blockchain.info/Resources/loading-large.gif" alt="loading"/>
            </div>
            <div class="blockchain stage-ready">
                 <p align="center">Please Send Tips To Bitcoin Address: <b>[[address]]</b></p>
                 <p align="center" class="qr-code"></p>
            </div>
            <div class="blockchain stage-paid">
                 Your Tip of <b>[[value]] BTC</b> Received. Thank You Very Much!
            </div>
            <div class="blockchain stage-error">
                <font color="red">[[error]]</font>
            </div>
        </div>
      </div><!-- .modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div><!-- .modal-footer -->
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- #btc-modal -->

{% javascript ui %}
{% include analytics.html %}
<script type="text/javascript" src="https://blockchain.info/Resources/js/pay-now-button.js"></script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
