{% javascript jquery %}

<header id="header" class="page-header">

  <div class="wrapper">
  <div class="row">

      <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  </div>
  <div class="row header-foot">
  <div class="col-md-8">
      <h2><small>{{ site.subtitle }}</small></h2>
  </div>

  <div class="col-md-4">
      <ul class="nav nav-pills">
        {% for my_page in site.pages %}
          {% if my_page.title == "Categories" %}
            {% continue %}
          {% elsif my_page.title == "Subscribe" %}
            {% continue %}
          {% endif %}
          {% if my_page.title %}
          <li><a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
  </div>

  </div>
  </div>

</header>
<hr />
