<div id="search">
    <div class="input-group hide">
        <input type="text" id="search-input" placeholder="Search..." />
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
    </div>
    <noscript>Enable JavaScript to use search suggestions with Algolia</noscript>
    {% image Algolia_logo_bg-white.jpg alt:'Powered by Algolia' %}
</div>

<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
