<div id="sidebar">
    {% include categories.html %}
    {% include tag-cloud.html %}
    {% include recent.html %}
    {% include search.html %}

    <br />

    <div class="btn btn-success" style="margin: 7px;">
        <a href="/subscribe/"><span class="fa fa-envelope"></span>Subscribe</a>
    </div>
    <div class="btn btn-info">
        <a href="https://github.com/raymondcolebaugh/raymondcolebaugh.github.io/tree/src"><span class="fa fa-github"></span>View Source</a>
    </div>
    <img src="https://travis-ci.org/raymondcolebaugh/raymondcolebaugh.github.io.svg?branch=src"
         alt="TravisCI Build Status" style="padding: 6px 12px;" />
</div>
