{% if page.include_twitter_timeline %}
<script>
window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
        t._e.push(f);
    };

    return t;
}(document, "script", "twitter-wjs"));
</script>
<div id="twitter-timeline">
    <a href="https://twitter.com/{{ include.username }}" class="twitter-timeline"
        data-tweet-limit=5 data-height=450 data-chrome="noborders">
        Latest Tweets by @{{ include.username }}
    </a>
</div>
{% endif %}
