@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import '_font-awesome';

$header_height: 300px;
$footer_height: 300px;

html, body { height: 100%; }

.transparent {
   zoom: 1;
   filter: alpha(opacity=90);
   opacity: 0.9;
}

.transparent-light {
   zoom: 1;
   filter: alpha(opacity=65);
   opacity: 0.65;
}

hr {
  border: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.half-size {
    height: auto;
    width: 50%;
    @include media-query($on-palm) {
        width: 100%;
        padding: 24px;
    }
}

.spaced {
    margin: 16px;
}

#header {
    background-image: url(asset_path("colebaughdotcom-header.jpg"));
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: $header_height;
    max-height: $header_height;
    .header-foot {
        position: absolute;
        top: $header_height - 92;
    }
    a.nav-link {
        color: black;
        font-weight: bold;
        background-color: white;
        @extend .transparent-light;
    }
    a:focus.nav-link,a:hover.nav-link {
        color: white;
        background-color: lightblue;
        @extend .transparent;
    }
    @include media-query($on-palm) {
        .site-title {
            text-align: center;
        }
        h2 {
            font-size: 150%;
        }
        ul.nav { margin-left: 0; }
        .nav-pills > li {
            text-align: center;
            margin-top: 16px;
        }
    }
    h2 > small {
        color: white;
        font-weight: bold;
    }
    @include media-query($on-laptop + 190) {
        .header-foot {
            top: $header_height - 125;
        }
        h2 { text-align: center; }
        a.nav-link {
            font-weight: bold;
        }
    }
    @include media-query($on-palm + 190) {
        .header-foot {
            top: $header_height - 136;
        }
    }
}

#twitter-timeline {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.page-content {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: -$header_height auto -$footer_height;
    p {
        font-size: 14pt;
        text-align: justify;
    }
    table {
        margin-top: 2rem;
        margin-bottom: 2rem;
        td {
            padding: 4px;
        }
        th {
            border-bottom-color: black;
            border-bottom-width: 1px;
            border-bottom-style: solid;
        }
        tr:nth-child(2n) {
            background-color: #f0f0ff;
        }
    }
    @include media-query($on-palm) {
        p {
            font-size: 15pt;
        }
        padding: 8px;
    }
    @include media-query($on-laptop) {
        padding: 8px;
    }
    .post-image {
        img {
            width: 60%;
            @include media-query($on-laptop) {
                width: 50%;
            }
            @include media-query($on-palm) {
                width: 100%;
            }
            max-width: 780px;
        }
    }
    .avatar {
        img {
            height: auto;
            width: 80%;
            @include media-query($on-laptop + 190) {
                width: 45%;
            }
        }
        @include media-query($on-laptop + 190) {
            text-align: center;
        }
    }
    .github-card-container {
        text-align: center;
    }
    .cta-buttons, .btn {
        text-align: center;
        a {
            color: white;
        }
    }
    .jumbotron ul {
        text-align: left;
    }
    .jumbotron p {
        padding: 1rem;
    }
    #markdown-toc {
        padding-bottom: 2rem;
        li {
            list-style: none;
        }
    }
    #next-prev {
        min-height: 4rem;
        @include media-query($on-laptop) {
            height: 8rem;
        }
        @include media-query($on-palm) {
            padding-top: 2rem;
        }
    }
    .pocket-link img {
        height: 32px;
        width: 32px;
    }
    .post-sharing-links {
        font-size: larger;
        a {
            padding: 1rem;
            font-weight: bold;
            @include media-query($on-palm) {
                padding: 0.5rem;
                height: 1rem;
            }
        }
        img {
            height: 32px;
            width: 32px;
        }
    }
    ul.large-social-media {
        text-align: center;
        font-size: larger;
        font-weight: bold;
        list-style: none;
    }
}

.page-footer {
    padding-top: 0px;
    background-image: url(asset_path("colebaughdotcom-footer.jpg"));
    background-size: cover;
    width: 100%;
    min-height: $footer_height;
    max-height: $footer_height;
    @include media-query(1064px) {
        min-height: $footer_height * 1.5;
        max-height: $footer_height * 1.5;
    }
    @include media-query($on-palm) {
        min-height: $footer_height * 2;
        max-height: $footer_height * 2;
    }
    color: white;
    .footer-col-wrapper { color: white; }
    .panel {
        background-color: black;
        margin-top: 24px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        min-width: 72%;
        @media (max-width:600px) {
            margin: 24px;
        }
    }
}

.newsletter {
    margin-top: 10px;
    border-radius: 10px;
    p {
        text-align: center;
    }
}

#sidebar {
    float: right;
    margin: 2rem;
    max-width: 220px;
    @include media-query($on-palm) {
        font-size: smaller;
        text-align: center;
        float: none;
        max-width: 75%;
    }

    #categories {
        text-align: center;
        ul {
            text-align: left;
            list-style: none;
            margin: 0px;
        }
    }

    #recent {
        text-align: center;
        li {
            text-align: left;
        }
    }

    #tag-cloud {
        text-align: center;
        .set-3, .set-4, .set-5 {
            font-size: 133%;
        }
        .set-6, .set-7, .set-8, .set-9 {
            font-size: 150%;
        }
        .set-10, .set-11, .set-12, .set-13 {
            font-size: 166%;
        }
    }
}

#search {
    margin-top: 12px;
    text-align: center;
    img {
        max-width: 128px;
        max-height: 32px;
        margin-top: 6px;
    }
}

#practicing {
  padding: 0.25rem;
  background-color: #eee;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.pgp-key-full {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    height: 240px;
    max-height: 240px;
    overflow: auto;
}

.algolia-autocomplete {
  width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
  text-indent: 6px;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}
